/* Estilo para el título */
h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 3rem;
}

/* Estilo para los párrafos */
p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

/* Estilo para los enlaces */
a {
  color: #0056b3;
}

/* Estilo para las cookies */
.cookie {
  font-size: 0.9rem;
  padding: 1rem;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  margin-top: 2rem;
}
